// font
$sakuraFontEN:-apple-system-font,"Helvetica Neue";
$sakuraFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
$sakuraFontSans:sans-serif;
$sakuraFontDefault:$sakuraFontEN,$sakuraFontSans;
