// Created by QiHan Wang on 2017/6/2.
$name: 'sakura';
$prefix: 'sk-';

// Font
$font-color-base: #333;
$font-color-gray: #999;
$font-color-darkGary: #666;

$font-size-icontext: .2rem;
$font-size-caption-sm: .24rem;
$font-size-base: .28rem;
$font-size-subhead: .3rem;
$font-size-caption: .32rem;
$font-size-heading: .34rem;
$font-size-display-sm: .36rem;
$font-size-display-md: .42rem;
$font-size-display-lg: .48rem;
$font-size-display-xl: .6rem;

// Background
$background-color-base: #eee;

// Border
// $border-color-base: #e5e5e5;

$border-color-base: #eee;
$border-color-dark: #ccc;

// Panel
$border-color-panel: $border-color-base;

// Toptips
$background-color-toptips-warn: #e64340;
$background-color-toptips-success: #1aad19;
$background-color-toptips-primary: #586c94;
