// Created by QiHan Wang on 2017/6/13.
@import "../../base/fn";

.#{$prefix}gallery{
  //display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 10020;
}

.#{$prefix}gallery-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: .6rem;
  left: 0;
  background: 50% no-repeat;
  background-size: contain;
}

.#{$prefix}gallery-opr{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0d0d0d;
  color: #fff;
  line-height: .6rem;
  text-align: center;
}
