// Created by QiHan Wang on 2017/6/5.

@mixin createMaskPseudoElement() {
  &::after {
    display: block;
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .35);

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}

@mixin createMask() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .35);
  -webkit-tap-highlight-color: transparent;
}
